<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/header") %>
    <link rel="stylesheet" type="text/css" href="styles/itemstyles.css">
  </head>
<body>

<div class="row">
<div id="carousel1" class="carousel carousel-dark slide col-4">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/images/samsung1.jpeg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/images/samsung2.jpeg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/samsung3.jpeg" class="d-block w-100 img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>   
    <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    <div class="content2 col-6">
      <h2>Samsung Galaxy A03s - 6.5''- 32gb - 3gb </h2>    
      <p style="font-family: sans-serif;">SIM

        Dual SIM (Nano-SIM, dual stand-by)<br>
        DISPLAY | 
        PLS LCD 6.5 inches
        720 x 1600 pixels
        | OS<br>
        
        Android 11, One UI 3.1 Core
        | MEMORY<br>
        
        microSDXC (dedicated slot)
        32GB 3GB RAM
        | CAMERA<br>
        
        13 MP, f/2.2, (wide), AF
        2 MP, f/2.4, (macro)
        2 MP, f/2.4, (depth)
        <br>SELFIE CAMERA<br>   
        
        5 MP, f/2.2
        <br>BATTERY<br>
        
        Li-Po 5000 mAh, non-removable</p>
        <h3>Price: $175</h3>
        <div class="row">
          <div class="col">
            <a href="/checkout" class="btn btn-primary btn-lg">Buy Now</a>
          </div>
          <div class="col">
            <a href="#" class="btn btn-primary btn-lg">Add to Cart</a>
          </div>
        </div>
</div>
<a href="/" class="continue"><h4>Continue Shopping</h4></a>
</div>
</body>
</html>