<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../partials/header") %>
    <link rel="stylesheet" type="text/css" href="styles/itemstyles.css" />
  </head>
  <body>
    <div class="row">
      <div id="carousel1" class="carousel carousel-dark slide col-4">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carousel1"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel1"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carousel1"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img
              src="/images/laptop2.jpg"
              class="d-block w-100 img-fluid"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="/images/laptop3.jpg"
              class="d-block w-100 img-fluid"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/laptop1.jpg"
              class="d-block w-100 img-fluid"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carousel1"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carousel1"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="content2 col-6">
        <h2>Acer Nitro 5 AN515-58-57Y8 Gaming Laptop</h2>
        <p style="font-family: sans-serif">
          Internal Specifications: 16GB DDR4 3200MHz Memory (2 DDR4 Slots Total,
          Maximum 32GB); 512GB PCIe Gen 4 SSD (2 x PCIe M.2 Slots, 1 x 2.5" Hard
          Drive Bay Available) Killer Connectivity: Get an edge on-line by
          taking control of your network and prioritizing your gameplay with
          Killer Ethernet E2600 and Killer Wi-Fi 6 AX1650.USB Type-C Port USB
          3.2 Gen 2 (up to 10 Gbps) DisplayPort over USB Type-C, Thunderbolt 4 &
          USB Charging, USB 3.2 Gen 2 Port (Featuring Power-off Charging)
        </p>
        <h3>Price: $899</h3>
        <form method="post" action="/cart">
          <div class="row">
            <div class="col">
              <a href="/" role="button" class="btn btn-primary btn-lg"
                ><h4>Continue</h4></a
              >
            </div>
            <div class="col">
              <input type="hidden" name="card" value="card5" />
              <input type="hidden" name="dir" value="/card5" />
              <input
                type="submit"
                class="btn btn-primary btn-lg"
                tabindex="0"
                role="button"
                data-bs-toggle="popover"
                data-bs-trigger="focus"
                data-bs-title="SOLD"
                data-bs-content="Successfully added to cart"
                value="Add to Cart"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <%- include("../../partials/cardpartials") %>
  </body>
</html>
