<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include("../partials/header"); %>
  <script src="https://kit.fontawesome.com/86988e59cc.js" crossorigin="anonymous"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  
<style>
body{
    background:#eee;
}

.card{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#8E24AA;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:13px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #8E24AA !important;
       color:#8E24AA;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #8E24AA !important;
       color:#fff;
       height:40px;
       background-color:#8E24AA;
}

.buttons button:nth-child(2){
       border:1px solid #8E24AA !important;
       background-color:#8E24AA;
       color:#fff;
        height:40px;
}</style>
<div class="container mt-5">
    
  <div class="row d-flex justify-content-center">
      
      <div class="col-md-7">
          
          <div class="card p-3 py-4">
              
              <div class="text-center">
                  <img src="images/demilade.jpg" width="100" class="rounded-circle">
              </div>
              
              <div class="text-center mt-3">
                  <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                  <h5 class="mt-2 mb-0">Bickersteth Oluwademilade</h5>
                  <span>Backend Web Developer</span>
                  
                  <div class="px-4 mt-1">
                      <p class="fonts">As a seasoned Backend Web Developer, I specialize in the creation of robust and scalable web 
                        applications. My proficiency spans various programming languages and technologies, and I 
                        the development of efficient server-side logic. Collaborating seamlessly with cross-functional teams,                          I deliver high-quality software solutions that cater to both client specifications and industry benchmarks. 
                        possess a knack for optimizing database performance, seamlessly integrating third-party APIs, and upholding
                        the security and dependability of web services. My unwavering commitment to staying abreast of the latest 
                        backend developments propels me to consistently elevate code quality. Let's connect and explore how my   
                        expertise can elevate your upcoming project's success. </p>
                  
                  </div>
                  
                   <ul class="social-list">
                      <li><a href="https://www.instagram.com/_thebickersteth/"><i class="fa fa-instagram"></i></a></li>
                      <li> <a href="https://www.linkedin.com/in/oluwademiladebickersteth"><i class="fa fa-linkedin"></i></a></li>
                      <li> <a href="https://github.com/Oluwademiladeogo"><i class="fa fa-github"></i></a></li>
                  </ul>
                  
                  <div class="buttons">
                      
                      <button id="sold" class="btn btn-outline-primary px-4">SOLD</button>
                      <button id="contactButton" class="btn btn-primary px-4 ms-3">Contact</button>
                  </div>
                  
                  
              </div>
              
             
              
              
          </div>
          
      </div>
      
  </div>
  
</div>
<script>
document.getElementById("sold").addEventListener("click", function() {
    window.location.href = "/";
});

  document.getElementById("contactButton").addEventListener("click", function() {
      window.location.href = "https://www.linkedin.com/in/oluwademiladebickersteth";
  });
  </script>
  
</body>
</html>
