<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header"); %>

    <title>SOLD</title>
</head>
<style>
  .container {
    margin-top: 15px;
  }
  .card-img-top {
    height: 300px; 
    object-fit: contain;
  }

 
</style>
<body>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="card" id="card1" style="width: 18rem;">
          <img src="/images/clipper1.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <form method="post" action="/cart">
             <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card1">Clipper</h5>
                <p class="card-text">Kiki Rechargeable and Cordless Hair Clipper. Suitable for all ages and hair types. Can be used anytime, anywhere</p>
                  <div class="row justify-content-evenly">
                    <div class="col-6">
                      <a href="/card1" class="btn btn-primary">View More</a>
                    </div>
                    <div class="col-6">
                      <input type="submit" class="btn btn-primary addToCartButton1"
                      tabindex="0" role="button"
                      data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                      data-bs-content="Successfully added to cart"  value="Add to Cart"> 
                    </div>
                  </div>
            </form>  
          </div>
        </div>
      </div>
          
        
      <div class="col">
        <div class="card" id="card2" style="width: 18rem;">
          <img src="/images/oraimo1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <form method="post" action="/cart">
             <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card2">Oraimo FreePods 4</h5>
                <p class="card-text"> Active Noise Cancellation Earbuds- Dive into Silence
                  Oraimo advanced ANC system can get rid of up to 30dB noise.</p>
                  <div class="row justify-content-evenly">
                    <div class="col-6">
                      <a href="/card2" class="btn btn-primary">View More</a>
                    </div>
                    <div class="col-6">
                      <input type="submit" class="btn btn-primary addToCartButton2"
                      tabindex="0" role="button"
                      data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                      data-bs-content="Successfully added to cart"  value="Add to Cart"> 
                    </div>
                  </div>
            </form>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card" id="card3" style="width: 18rem;">
          <img src="images/calculator1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <form method="post" action="/cart">  
               <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card3">Texas Instruments TI-84 Plus</h5>
                  <p class="card-text">Texas Instruments TI-84 Plus CE Color Graphing Calculator, Black 7.5 Inch</p>
                    <div class="row justify-content-evenly">
                      <div class="col-6">
                        <a href="/card3" class="btn btn-primary">View More</a>
                      </div>
                      <div class="col-6">
                        <input type="submit" class="btn btn-primary addToCartButton3"
                        tabindex="0" role="button"
                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                        data-bs-content="Successfully added to cart"  value="Add to Cart">
                      </div>
                    </div>
              </form>
            </div>      
        </div>
      </div>
    </div>
  </div>
  </div>



        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col">
              <div class="card" id="card4" style="width: 18rem;">
                <img src="images/headphones1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <form method="post" action="/cart">
                     <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card4">Gaming Headphones</h5>
                        <p class="card-text">BENGOO G9000 Stereo Gaming Headset <br>For PS4 PC Xbox One PS5 Controller</p>
                          <div class="row justify-content-evenly">
                            <div class="col-6">
                              <a href="/card4" class="btn btn-primary">View More</a>
                            </div>
                            <div class="col-6">
                              <input type="submit" class="btn btn-primary addToCartButton4"
                              tabindex="0" role="button"
                              data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                              data-bs-content="Successfully added to cart"  value="Add to Cart"> 
                            </div>
                          </div>
                    </form>
                  </div>
              </div>
            </div>
            

            <div class="col">
              <div class="card" id="card5" style="width: 18rem;">
                <img src="images/laptop1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <form method="post" action="/cart">
                     <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card5">Acer Nitro 5 AN515-58-57Y8 Gaming Laptop</h5>
                        <p class="card-text"> Intel Core i5-12500H | NVIDIA GeForce RTX 3050 | 16GB DDR4 | 512GB Gen 4 SSD | Wi-Fi 6.</p>
                          <div class="row justify-content-evenly">
                            <div class="col-6">
                              <a href="/card5" class="btn btn-primary">View More</a>
                            </div>
                            <div class="col-6">
                              <input type="submit" class="btn btn-primary addToCartButton5"
                              tabindex="0" role="button"
                              data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                              data-bs-content="Successfully added to cart"  value="Add to Cart">             
                            </div>
                          </div>
                    </form>
                  </div>
              </div>
            </div>


            <div class="col">
              <div class="card" id="card6" style="width: 18rem;">
                <img src="images/headphone4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <form method="post" action="/cart">
                     <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card6">NEW SteelSeries Arctis Nova Pro </h5>
                        <p class="card-text">Wireless Multi-System Gaming Headset<br>Active Noise Cancellation</p>
                          <div class="row justify-content-evenly">
                            <div class="col-6">
                              <a href="/card6" class="btn btn-primary">View More</a>
                            </div>
                            <div class="col-6">
                              <input type="submit" class="btn btn-primary addToCartButton6"
                              tabindex="0" role="button"
                              data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                              data-bs-content="Successfully added to cart"  value="Add to Cart">              
                            </div>
                          </div>
                    </form>
                  </div>
              </div>
            </div>      
          </div>
        </div>



        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col">
              <div class="card" id="card7" style="width: 18rem;">
                <img src="images/dashcam1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <form method="post" action="/cart">
                     <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card7">REDTIGER Dash Cam Front Rear, 4K/2.5K</h5>
                        <p class="card-text">Full HD Dash Camera for Cars, Built-in Wi-Fi GPS, Night Vision, 24H Parking Mode</p>
                          <div class="row justify-content-evenly">
                            <div class="col-6">
                              <a href="/card7" class="btn btn-primary">View More</a>
                            </div>
                            <div class="col-6">
                             <input type="submit" class="btn btn-primary addToCartButton7"
                              tabindex="0" role="button"
                              data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                              data-bs-content="Successfully added to cart"  value="Add to Cart">              
                            </div>
                          </div>
                    </form>
                  </div>
              </div>
            </div>

            
              <div class="col">
                <div class="card" id="card8"style="width: 18rem;">
                  <img src="/images/iphone14.1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <form method="post" action="/cart">
                       <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card8">Apple iPhone 14 Pro Max</h5>
                          <p class="card-text">6.7 OLED screen - Adaptive lock screen - 48 Mpx camera - A16 Bionic processor - 512GB capacity iOS 16</p>
                            <div class="row justify-content-evenly">
                              <div class="col-6">
                                <a href="/card8" class="btn btn-primary">View More</a>
                              </div>
                              <div class="col-6">
                                <input type="submit" class="btn btn-primary addToCartButton8"
                                tabindex="0" role="button"
                                data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                                data-bs-content="Successfully added to cart"  value="Add to Cart">              
                              </div>
                            </div>
                      </form>
                    </div>
                </div>
              </div> 


              <div class="col">
                <div class="card" id="card9" style="width: 18rem;">
                  <img src="/images/watch2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <form method="post" action="/cart">    
                       <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card9">Smartwatch Fitness Tracker for All Phones </h5>
                          <p class="card-text"> Smartwatch  with Heart Rate Sleep Tracking, 28 Sport Modes, Ai Voice Control</p>
                            <div class="row justify-content-evenly">
                              <div class="col-6">
                                <a href="/card9" class="btn btn-primary">View More</a>
                              </div>
                              <div class="col-6">
                                <input type="submit" class="btn btn-primary addToCartButton9"
                                tabindex="0" role="button"
                                data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                                data-bs-content="Successfully added to cart"  value="Add to Cart">              
                              </div>
                            </div>
                      </form>
                    </div>
                </div>
              </div>      
            </div>
          </div>



          <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <div class="card" id="card10" style="width: 18rem;">
                  <img src="/images/oraimospeaker1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <form method="post" action="/cart">
                       <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card10">Oraimo SoundPro 2C 10W Portable Wireless Bluetooth Speaker</h5>
                          <p class="card-text">Huge Stereo Sound 10w driver fuels a powerful stereo sound</p>
                            <div class="row justify-content-evenly">
                              <div class="col-6">
                                <a href="/card10" class="btn btn-primary">View More</a>
                              </div>
                              <div class="col-6">
                                <input type="submit" class="btn btn-primary addToCartButton10"
                                tabindex="0" role="button"
                                data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                                data-bs-content="Successfully added to cart"  value="Add to Cart">              
                              </div>
                            </div>
                      </form>
                    </div>
                </div>
              </div>


              <div class="col">
                <div class="card" id="card11" style="width: 18rem;">
                  <img src="/images/samsung.jpeg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <form method="post" action="/cart">
                       <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card11">Samsung Galaxy A03s - 6.5''- 32gb - 3gb </h5>
                          <p class="card-text">SIM Dual SIM (Nano-SIM)<br> DISPLAY | PLS LCD 6.5 inches 720 x 1600 pixels OS<br> </p>
                            <div class="row justify-content-evenly">
                              <div class="col-6">
                                <a href="/card11" class="btn btn-primary">View More</a>
                              </div>
                              <div class="col-6">
                                <input type="submit" class="btn btn-primary addToCartButton11"
                                tabindex="0" role="button"
                                data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                                data-bs-content="Successfully added to cart"  value="Add to Cart">
                              </div>
                            </div>
                      </form>
                    </div>
                </div>
              </div>


              <div class="col">
                <div class="card" id="card12" style="width: 18rem;">
                  <img src="images/homeandkitchen2.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <form method="post" action="/cart">
                        <h5 class="card-title"><input type="hidden" name="dir" value="/"><input type="hidden" name="card" value="card12">Household Items</h5>
                          <p class="card-text">Household items which can be used for daily living and cooking.<br> It is very durable with a suitable warranty</p>
                            <div class="row justify-content-evenly">
                              <div class="col-6">
                                <a href="/card12" class="btn btn-primary">View More</a>
                              </div>
                              <div class="col-6">
                                <input type="submit" class="btn btn-primary addToCartButton12"
                                tabindex="0" role="button"
                                data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="SOLD" 
                                data-bs-content="Successfully added to cart"  value="Add to Cart">
                              </div>
                            </div>
                      </form>
                    </div>
                </div>      
              </div>
            </div>
          </div>
   
<script>
const popover = new bootstrap.Popover('[data-bs-toggle="popover"]', {
        trigger: 'focus'
    });
</script>
</body>
</html>